doctype html
html
	head
		title= summary
		link(rel='stylesheet', href='/bootstrap/3.3.5/css/bootstrap.min.css')
		script(src='/javascripts/jquery-2.2.2.min.js')
		script(src='/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		div(style='padding:50px;')
			.container
				.jumbotron
					h1 欢迎使用easyDocker
					p An easy way to docker.