body{margin:0;padding:0;overflow-x:hidden;}
html, body{height:100%;}
*{font-family:'微软雅黑';font-size:12px; color:#626262;}
a{display:block;margin:0;text-decoration:none !important;}

/*.container{width:100%;height:100%;margin:auto;}*/
/*left*/
.leftsidebar_box{width:160px;height:auto !important;overflow:visible !important;position:fixed;height:100% !important;background-color:#2F4F4F;}
.leftsidebar_box .nav_item{padding-left:20px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#f5f5f5;position:relative;line-height:80px;cursor:pointer;}
#id_logo {padding-left:30px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#f5f5f5;position:relative;line-height:80px;cursor:pointer;}
.leftsidebar_box span{color:#f5f5f5;font-size:16px;}
.glyspan{margin-right: 10px;}
.logo a{height: 80px;background-color: #317eb4;}
.summary .nav_item{height:80px; background-color: #1F3F3F;}
.container_ .nav_item{height:80px;}
.image .nav_item{height:80px;}
#mytitle{font-family: '新宋体' ;font-size: 30px; line-height: 80px;}